<section class="py-16 md:py-24 bg-sand">
  <div class="container mx-auto">
    <div class="grid grid-cols-2 md:grid-cols-4 gap-8">
      <% @ICONS.each do |icon| %>
        <div class="text-center">
          <div class="flex justify-center mb-4">
            <%= render "/shared/#{icon[:icon]}" %>
          </div>
          <div>
            <p class="text-3xl md:text-4xl font-medium mb-1"><%= icon[:count] %></p>
            <p class="text-sm md:text-base"><%= icon[:text] %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
