<div class="pt-24 md:pt-28 lg:pt-32">
  <div class="container mx-auto">
    <h1 class="text-center text-3xl md:text-5xl lg:text-5xl font-playfair mb-6">About Me</h1>
    <div class="h-screen grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
      <div>
        <%= image_tag "" %>
      </div>
      <div>
        <h2 class="text-2xl md:text-3xl mb-6">Hello, I'm Carter</h2>
        <p>
          For over 16 years, I've been capturing life's most precious moments through photography. My journey began with a simple passion for freezing moments in time and has evolved into a career documenting love stories across Europe's most beautiful destinations.<br><br>

          After establishing my career in the United States, I moved to Ireland in 2018, drawn by its rich landscapes and intimate wedding traditions. This move opened up opportunities to photograph weddings throughout Europe, from the cliffs of Santorini to the chateaus of France.br<br><br>

          My approach to wedding photography blends documentary storytelling with fine art portraiture. I believe in capturing authentic emotions while creating timeless, artistic images that will be treasured for generations.<br><br>

          When I'm not behind the camera, you'll find me exploring new destinations, enjoying good coffee, and spending time with my family. I look forward to hearing your story and discussing how I can help preserve your wedding memories.
        </p>
      </div>
    </div>
    <div class="mt-20">
      <h2 class="text-center text-2xl md:text-3xl mb-8">My Philosophy</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="bg-sand p-6 rounded-lg text-center">
          <h3 class="text-center text-2xl mb-4">Authentic Moments</h3>
          <p class="text-foreground text-md">I believe in capturing genuine emotions and interactions as they unfold naturally, creating a true narrative of your day.</p>
        </div>
        <div class="bg-sand p-6 rounded-lg text-center">
          <h3 class="text-center text-2xl mb-4">Artistic Vision</h3>
          <p class="text-foreground">Each frame is thoughtfully composed to create images that are not just memories but works of art that stand the test of time.</p>
        </div>
        <div class="bg-sand p-6 rounded-lg text-center">
          <h3 class="text-center text-2xl mb-4">Personal Connection</h3>
          <p class="text-foreground">I prioritize building relationships with each couple, ensuring comfort and trust that translates into intimate, emotional photographs.</p>
        </div>
      </div>
    </div>
     <div class="mt-20">
      <h2 class="text-center text-2xl md:text-3xl mb-8">Experience & Expertise</h2>

    </div>
  </div>
</div>
