<div class="pt-24 md:pt-28 lg:pt-32">
  <div class="container mx-auto py-20 px-8">
    <h1 class="text-center text-3xl md:text-5xl mb-6">Portfolio</h1>
    <p class="text-foreground text-center" >A collection of cherished moments from weddings across Europe's most beautiful locations.</p>
  </div>
  <div class="flex">
    
  </div>
</div>
